<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/c154d3b8-0482-4da4-8305-02f698214336/resourceGroups/MusicStreamPlayer/providers/Microsoft.ApiManagement/service/MusicStreamServerapi-France/apis/MusicStreamServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c154d3b8-0482-4da4-8305-02f698214336/resourceGroups/MusicStreamServer20251115162821ResourceGroup/providers/Microsoft.Web/sites/MusicStreamServer</ResourceId>
    <ResourceGroup>MusicStreamServer20251115162821ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://musicstreamserver-h8ftdeg9drcrd6a9.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>eb215fd2-d089-424c-9f2c-85b2c61cc06c</ProjectGuid>
    <PublishUrl>https://musicstreamserver-h8ftdeg9drcrd6a9.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <PublishSingleFile>false</PublishSingleFile>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>